.meta-icon{
    height: .8rem;
    width: .8rem;
    position: relative;
    right: 5.8rem;
}

.google-icon{
    height: 1rem;
    width: 1rem;
    position: relative;
    right: 6.1rem;
}

.apple-icon{
    height: 1rem;
    width: 1rem;
    position: relative;
    right: 6.34rem
}

.email-icon{
    height: 1rem;
    width: 1rem;
    position: relative;
    right: 6.3rem;
}
