@import url('../../../App.css');
@import url('../../../index.css');


.form-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation-duration: 300ms;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-name: fadeOut;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    animation-duration: 400ms;
    animation-iteration-count: 1;
    animation-fill-mode: both;
    animation-name: slideAnimation;
    width: 22rem;
}

.close-button {
    background: none;
    border: none;
}

.form-header-span{
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: 600;
}

.close-button-image {
    height: .7rem;
    width: .7rem;
    cursor: pointer;
}

.submit-edit-button {
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
    border-color: transparent;
    background-color: var(--bnbred);
    cursor: pointer;
}
