:root {
    --bnbred: #FF375D
}

.nav-bar-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 3rem;
    justify-content: space-around;
    padding-bottom: 15px;
    /* border-bottom: 1px solid rgba(15,15,15,.2); */
}

.nav-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo-container span {
    padding-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: var(--bnbred);
    font-size: 15px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    padding-left: .5rem;
}

.filter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: .5px solid rgba(15,15,15,.2);
    border-radius: 30px;
    padding: 5px;
    box-shadow: .3px .5px .8px .3px rgba(15,15,15,.2);
}

.filter-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    font-weight: 500;
    padding-inline: 3px;
}

.guest-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.guest-item span {
    padding-right: 5px;
    color: rgb(165,165,165);
}

.search-container{
    background-color: #FF375D;
    border-radius: 50px;
    padding: 4px;
}

.vertical-divider{
    width: 1px;
    background-color: rgba(200,200,200);
    height: 1rem;
    margin-inline: 3px;
}

.filter-item span{
    margin-inline: 5px;
}

.nav-bar-links-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar-links-span{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgba(15,15,15,1);
    font-size: 11px;
    font-weight: 500;
}

.globe-icon{
    height: 12px;
    width: 12px;
    padding-right: 20px;
}

.hamburger-icon {
    height: 12px;
    width: 12px;
}

.nav-bar-links-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.a-tag{
    text-decoration: none;
}

.host-home{
    padding-right: 20px;
}


.horizontal-divider{
    height: 1px;
    width: 150%;
}
